@import "../../assets/scss/variables";

.dropdown__container {
  margin: 38px auto;

  max-width: 82.5%;
}

.dropdown__button {
  cursor: pointer;
  border-style: none;

  color: white;
  background-color: $color-red;

  transition: transform 0.3s ease;

  &.rotated {
      transform: rotate(180deg);
  }

  &--display {
    display: flex;
    justify-content: space-between;
  }
  
  &--title {
    font-size: 24px;

    display: flex;
    align-items: center;

    color: white;
  }

  &--background {
    margin: 0 auto;
    padding: 10px 20px 10px 15px;

    max-width: 86.11%;

    background-color: $color-red;
    border-radius: 5px;
  }
}

.dropdown__content {
  margin: 0 auto;
  padding: 25px 28px 20px 20px;

  max-width: 86.11%;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  
  background-color: $color-grey;
}
