@import "../../assets/scss/variables";

.tags__container {
  margin: 0 auto;

  width: 100%;
  max-width: 100%;

  display: flex;
  flex-wrap: wrap;
  

}

.tags__item {
  margin: 20px 10px 0 0;
  padding: 0 30px;

  height: 25px;

  font-size: 14px;
  font-weight: 700;

  white-space: nowrap;
  flex: 0 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  
  color: white;
  background: $color-red;
  border-radius: 10px;
}

@media (max-width: 800px) {

  .tags__container {
    margin: 10px 0 0 0;
    gap: 10px;
  }
  .tags__item {
    margin: 0;
    height: 18px;

    font-size: 10px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;

    
    
    
    
  }

}