@import "../../assets/scss/variables";

.tags__container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  display: flex;

}

.tags__item {
  margin: 20px 10px 0 0;
  padding: 0 30px;

  width: 115px;
  height: 25px;

  font-size: 14px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  
  color: white;
  background: $color-red;
  border-radius: 10px;
}