@import '../dropdown/style.scss';

.flat__informations {

  &--header {
    margin: 0 auto;

    max-width: 86.11%;

    display: flex;
    justify-content: space-between;
  }

  .dropdown__informations__container{
    margin: 0 auto;

    width: 90.8%;
    
    display: flex;
    justify-content: space-between;
  }

  .dropdown__container {
    margin: 24px auto 50px auto;
    width: 44.7%;
  }

  .dropdown__button--background {
    max-width: 100%;
  }

  .dropdown__content {
    max-width: 100%;
  }

  ul {
    list-style: none;
  }
}

.flat__title {
  margin: 0 auto;

  max-width: 100%;

  font-size: 36px;
  font-weight: 500;

  color: $color-red;

}

.flat__location {
  margin: 0 auto;
  
  max-width: 100%;
  
  font-size: 18px;
  font-weight: 500;
}