@import '../dropdown/style.scss';

.flat__informations {

  &--header {
    margin: 0 auto;
    padding: 0 20px;

    width: 100%;
    max-width: 1240px;

    display: flex;
    justify-content: space-between;
  }

  .dropdown__informations__container{
    margin: 0 auto;
    

    width: 100%;
    max-width: 1240px;
    
    display: flex;
    justify-content: space-between;
    
  }

  .dropdown__container {
    margin: 24px 0 50px 0;

    max-width: 100%;
    
    width: calc(100% / 2 - (100px - 76px));
  }

  .dropdown__button--background {
    margin: 0 auto;
  }

  .dropdown__content {
    padding: 20px;
    width: 100%;
  }

  ul {
    list-style: none;
  }
}

.flat__title {
  margin: 0 auto;

  max-width: 100%;

  font-size: 36px;
  font-weight: 500;

  color: $color-red;

}

.flat__location {
  margin: 0 auto;
  
  max-width: 100%;
  
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .flat__title {
    font-size: 18px;
  }

  .flat__location {
    margin: 5px 0 0 0;
    font-size: 14px;
  }

  .flat__informations--header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .flat__informations--right-column {
    margin: 16.5px 0 0 0;

    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
  }

  .flat__informations {
    .dropdown__informations__container {
      margin: 13px 0 27px 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
    }

    .dropdown__container {
      margin: 0;
      width: 100%;
    }
  }

}