@import "../../assets/scss/variables";

.error {
  margin: 139px auto;

  width: 100%;
  max-width: 86.11%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &--code {
    font-size: 288px;
    font-weight: 700;

    color: $color-red;
  } 

  &--pattern {
    margin: 138px auto;

    font-size: 36px;
    font-weight: 500;

    color: $color-red;
  }
}

.back__home {
  font-size: 18px;
  font-weight: 500;
  
  color: $color-black;
}