@import "../../assets/scss/variables";

.gallery__container {
  display: flex;
  justify-content: center;
  padding: 56px 50px 43px 50px;
  margin: 0 100px 50px 100px;
  background-color: $color-grey;
  height: 829px;
  border-radius: 25px;
}