@import "../../assets/scss/variables";

.gallery__container {
  display: flex;
  justify-content: center;
  padding: 56px 50px 43px 50px;
  background-color: $color-grey;
  height: 829px;
  border-radius: 25px;
  width: 100%;
  max-width: 1240px;
  margin:50px auto;

}