@import "../../assets/scss/variables";

.gallery__container {
  margin:50px auto;
  padding: 56px 50px 43px 50px;
  
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap:50px;

  border-radius: 25px;
  background-color: $color-grey;
  overflow: hidden;

}

.gallery__padding {
  padding: 0 20px;
}


@media (max-width: 800px) {
  .gallery__container {
    margin:22px auto 27px auto;
    padding: 0 ;
    gap: 20px;

    display: flex;
    

    border-radius: 0px;
    background: none;
  }
}