@import "../../assets/scss/variables";

.footer {
  padding: 66px 0 29px 0;
  background-color: $color-black;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 100%;
}