.slider {
  margin: 0 auto 30px auto;
  padding:8px 16px;

  width: 100%;
  max-width: 1240px;
}

.button__slide {
  
  &--previous {
    margin: 167.9px 23.36px;

    position: absolute;
    top: 0;
    z-index: 200;

    cursor: pointer;
    
    border: none;
    background: none;

    svg {
      width:46px;
      * {
        fill: white
      }
    }
  }
  &--next {
    margin: 167.9px 23.36px;

    position: absolute;
    right: 0;
    z-index: 200;
    
    cursor: pointer;

    border: none;
    background: none;

    svg {
      width:46px;
      * {
        fill: white
      }
    }
    }
  }

  .slide__indicator {
    margin: 25px 0;

    font-size: 18px;
    font-weight: 500;
    
    color: white;
    
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  @media (max-width: 800px) {
    .slide__indicator {
      display: none;
    }

    .button__slide {
     &--previous, 
     &--next {
        margin: 80px auto;
        padding: 0 12px;
        svg {
          width:24px;
          * {
            fill: white
          }
    }
  }
  }
}